<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<title>星享俱乐部 | 星巴克</title>
     <link rel="icon" type="image/png" href="/static/img/favicon-16x16.png" sizes="16x16">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/static/css/register.css" />
		<link rel="stylesheet" href="/static/css/iconfont.css"/>
		<link rel="stylesheet" href="/static/css2/iconfont.css"/>
		<script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="box1">
        <div class="box2 border">
            <h1><span>星享俱乐部</span></h1>
            <p><span>加入星享俱乐部，即可在星巴克门店消费时积星星，享好礼！<br/>
						每累积消费50元可获赠一颗星星。星星越多，会员等级越高，<br/>
						好礼越丰富！</span></p>
            <button><span>查看详情</span></button>
        </div>
        <div class="box3 border">
            <img src="../static/img3/card-msr-unlogged.png"/>
        </div>
    </div>
    <div style="height:5px;background: #C2A661;"></div>
    <form method="post">
        <div class="box4">
            <div>
                <input class="text" type="text" id="username_r" name="username_r" placeholder="输入您的星享卡或星礼卡卡号"required/>

            </div>
            <div>
                <input class="text" type="password" id="password_r" name="password_r" placeholder="输入密码"required/>
            </div>
            <div>
                <input class="text" type="password" id="password_r2" name="password_r2" placeholder="再次输入密码"required/>
            </div>
            <div class="box9" style="margin-top: 40px;">
            	<button type="submit">注册</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>